<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Star Wars Site</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <a href="{{ url_for('home') }}">Início</a>
        <a href="{{ url_for('filmes') }}">Filmes</a>
        <a href="{{ url_for('personagens') }}">Personagens</a>
        <a href="{{ url_for('naves') }}">Naves</a>
        <a href="{{ url_for('planetas') }}">Planetas</a>
    </div>

    <!-- Conteúdo -->
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
